.container {
  min-height: 100vh;
  background-color: #3880FB;
}

.logo {
  padding-top: 30px;
}

.validation {
  color: #DFC2C1;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.list-group-container {
  padding: 0 50px 80px 50px;
}

.input-todo {
	display: flex;
	justify-content: center;
	padding-top: 25px;
  padding-bottom: 50px;
  width: 50%;
  margin: auto;
  display: block;
  height: 120px;
}

.dropdown-menu {
  min-width: 50px !important;
  right: 0px;
}
.dropdown-item {
  padding: 0px 10px;
  text-align: center;
}

.todoItem {
  padding-left: 20px;
}

.badge {
  padding: 15px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.delete-btn {
  background-color: #F47C79;
}
.delete-btn:hover {
  background-color: #B97877;
}
.edit-btn {
	background-color: #70C1B3;
}
.edit-btn:hover {
	background-color: #5C9E93;
}
.done-btn {
  background-color: #247BA0;
}
.done-btn:hover {
  background-color: #1E6583;
}
.done{
  text-decoration: line-through;
  color: #000;
}



